#planos{
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2{
    font-size: 30px;
}
.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 5px solid #122A57;
    margin-top: 10px;
    padding: 40px;
    max-width: 240px;
    text-align: center;
}


.item-plano a{
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after{
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 3px; 
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}


.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122A57;
    margin-right: 10px;
}


/* Nav */

header{
    background-color: #fff;
}

body{
    background-color: #fff;
    
}


h1{
    text-align: center;
    color: black;
    font-style:oblique;
}

.Con5{
    border-width: medium;
    border-style: solid;
    border-color: red;
    background-color:white;
}



.Con4{
    border-width: medium;
    border-style: solid;
    border-color: red;
    background-color:rgb(10, 240, 29);
}

.FA{
    text-align: left;
    color: black;
}









.Con{
    border-width: medium;
    border-style: solid;
    border-color: #00f;
    background-color:white;
}


.menu3{
    width: 100%;
    float: center;
    background-color:black;
    padding: 0.1% 0%;
}

.Con2{
    border-width: medium;
    border-style: solid;
    border-color: red;
    background-color:yellow;
}



.Con3{
    border-width: medium;
    border-style: solid;
    border-color: blue;
    background-color:salmon;
}
p{
    font-weight: 400;
}

div {
    text-align: center;
    
  }


li{
    display: inline;
    
}

a{
    display: inline;
    padding: 8px;
    background-color: black;
    
    
}

.menu{
    width: 100%;
    float: center;
    background-color:black;
    padding: 0.1% 0%;
}

.menu li{
    float: center;
}

.menu li a{
    color: #9d9d9d;
    margin-right: 25px;
}

.menu li a:hover{
    color: #fff;
}


IMG.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #122A57;
 }

 .texto{
     text-align: center;
     font-style: oblique;
 }